/* src/index.css */
body {
  margin: 0;
  background-color: #0A2239;
  color: #FFFFFF;
  font-family: "Inter", sans-serif;
}

code, pre, kbd, samp {
  font-family: "Fira Code", monospace;
  background-color: #112A4D; /* Lite mörkare bakgrund för kod */
  padding: 0.2em 0.4em;
  border-radius: 4px;
}

